apiVersion: v1
kind: Service
metadata:
  name: jiaa-ai-vision-service-svc
  labels:
    app: jiaa-ai-vision-service
    service: ai-vision-service
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: jiaa-ai-vision-service

